// This a test file template
var
  should = require('should'),
  sinon = require('sinon');

describe('Test: testTemplate', function () {
  var
    sandbox;

  before(() => {
    sandbox = sinon.sandbox.create();
  });

  beforeEach(() => {
  });

  afterEach(() => {
    sandbox.restore();
  });

  describe('#testContext', function () {
    it('testItem', () => {
    });
  });
});
