[submodule "plugins/available/kuzzle-plugin-socketio"]
	path = plugins/available/kuzzle-plugin-socketio
	url = https://github.com/kuzzleio/kuzzle-plugin-socketio.git
[submodule "plugins/available/kuzzle-plugin-websocket"]
	path = plugins/available/kuzzle-plugin-websocket
	url = https://github.com/kuzzleio/kuzzle-plugin-websocket.git
