{
  "kuzzle-plugin-socketio": {
    "activated": true,
    "loadedBy": "server",
    "port": "7512",
    "room": "kuzzle"
  },
  "kuzzle-plugin-websocket": {
		"activated": true,
		"loadedBy": "server",
		"port": "7513",
		"room": "kuzzle"
	}
}