{
  "kuzzle-plugin-socketio": {
    "activated": true,
    "port": "7512",
    "room": "kuzzle"
  },
  "kuzzle-plugin-websocket": {
    "activated": true,
    "port": "7513",
    "room": "kuzzle"
  }
}
